body{ 

    width: 950px;
    background-image: url(../Images/Background.png);
    font-size: 14px;
    font-family: "Leelawadee";
    color: #454545;
 }

.header{
    margin-top: -6px;
    background-color: white;
}

.leftstr, .rightstr {
    float: left; 
    width: 50%; 
}

.rightstr {
    text-align: right; 
    line-height: 0px;
}

.nav {
    text-align: justify;
    float: left; 
    
}

/* h1{
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 40px;
}

h2{
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    color: #1ea1c2;
}

h3{
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    line-height: 26px;
}

h4{
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    line-height: 24px;
}
                            */
