body{ 
    font-size: 14px;
    font-family: "Leelawadee";
    line-height: 20px;
    color: #454545;
 }

h1{
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 40px;
}

h2{
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    color: #1ea1c2;
}

h3{
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    line-height: 26px;
}

h4{
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    line-height: 24px;
}